<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="FORGE_GROUP" value="net.minecraftforge"/>
<mapEntry key="FORGE_VERSION" value="31.1.19"/>
<mapEntry key="MCP_MAPPINGS" value="snapshot_20200313-1.15.1"/>
<mapEntry key="MCP_VERSION" value="20200122.131323"/>
<mapEntry key="MC_VERSION" value="1.15.2"/>
<mapEntry key="MOD_CLASSES" value="examplemod%%C:\Users\Daniel\Documents\ForgeMod\1.15.2\bounty-of-the-land\bin\main;examplemod%%C:\Users\Daniel\Documents\ForgeMod\1.15.2\bounty-of-the-land\bin\main"/>
<mapEntry key="target" value="fmluserdevdata"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.userdev.LaunchTesting"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--mod botl --all --output C:\Users\Daniel\Documents\ForgeMod\1.15.2\bounty-of-the-land\src\generated\resources"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="bounty-of-the-land"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=SCAN,REGISTRIES,REGISTRYDUMP"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Daniel\Documents\ForgeMod\1.15.2\bounty-of-the-land\run"/>
</launchConfiguration>
